/*

Theme Name: Website366 XE02

Theme URI: http://website366.com

Author: Thiết kế web website366

Author http://website366.com

Description: Twenty Seventeen brings your site to life with header video and immersive featured images. With a focus on business sites, it features multiple sections on the front page as well as widgets, navigation and social menus, a logo, and more. Personalize its asymmetrical grid with a custom color scheme and showcase your multimedia content with post formats. Our default theme for 2017 works great in many languages, for any abilities, and on any device.

Version: 1.0

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Text Domain: twentyseventeen

Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready



This theme, like WordPress, is licensed under the GPL.

Use it to make something cool, have fun, and share what you've learned with others.

*/



a, a:hover, a:active{

	text-decoration:none;

}



img,

video {

	width: auto; /* Make sure images are scaled correctly. */

	max-height: 100%; /* Adhere to container width. */

}



img.alignleft,

img.alignright {

	float: none;

	margin: 0;

}



.alignleft {

	display: inline;

	float: left;

	margin-right: 1.5em;

}



.alignright {

	display: inline;

	float: right;

	margin-left: 1.5em;

}



.aligncenter {

	clear: both;

	display: block;

	margin-left: auto;

	margin-right: auto;

}



/* Gallery widget */



.wp-caption,

.gallery-caption {

	color: #666;

	font-size: 13px;

	font-size: 0.8125rem;

	font-style: italic;

	margin-bottom: 1.5em;

	max-width: 100%;

}



.gallery-columns-5 .gallery-caption,

.gallery-columns-6 .gallery-caption,

.gallery-columns-7 .gallery-caption,

.gallery-columns-8 .gallery-caption,

.gallery-columns-9 .gallery-caption {

	display: none;

}



.gallery-item {

	display: inline-block;

	text-align: left;

	vertical-align: top;

	margin: 0 0 1.5em;

	padding: 0 1em 0 0;

	width: 50%;

}



.gallery-columns-1 .gallery-item {

	width: 100%;

}



.gallery-columns-2 .gallery-item {

	max-width: 50%;

}



.gallery-item a,

.gallery-item a:hover,

.gallery-item a:focus,

.widget-area .gallery-item a,

.widget-area .gallery-item a:hover,

.widget-area .gallery-item a:focus {

	-webkit-box-shadow: none;

	box-shadow: none;

	background: none;

	display: inline-block;

	max-width: 100%;

}



.gallery-item a img {

	display: block;

	-webkit-transition: -webkit-filter 0.2s ease-in;

	transition: -webkit-filter 0.2s ease-in;

	transition: filter 0.2s ease-in;

	transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;

	-webkit-backface-visibility: hidden;

	backface-visibility: hidden;

}



.gallery-item a:hover img,

.gallery-item a:focus img {

	-webkit-filter: opacity(60%);

	filter: opacity(60%);

}



.gallery-caption {

	display: block;

	text-align: left;

	padding: 0 10px 0 0;

	margin-bottom: 0;

}



@media screen and (min-width: 30em) {

	/* Gallery Columns */



	.gallery-item {

		max-width: 25%;

	}



	.gallery-columns-1 .gallery-item {

		max-width: 100%;

	}



	.gallery-columns-2 .gallery-item {

		max-width: 50%;

	}



	.gallery-columns-3 .gallery-item {

		max-width: 33.33%;

	}



	.gallery-columns-4 .gallery-item {

		max-width: 25%;

	}

}



@media screen and (min-width: 48em) {

	/* Gallery Columns */



	.gallery-columns-5 .gallery-item {

		max-width: 20%;

	}



	.gallery-columns-6 .gallery-item {

		max-width: 16.66%;

	}



	.gallery-columns-7 .gallery-item {

		max-width: 14.28%;

	}



	.gallery-columns-8 .gallery-item {

		max-width: 12.5%;

	}



	.gallery-columns-9 .gallery-item {

		max-width: 11.11%;

	}

}