/* video */
.detail_video{
	margin-bottom: 15px;
}
/* video */

/* ho-tro-tai-chinh/goi-y-mau-xe */
#showLaixuat > div {
    height: 0;
    overflow: hidden;
}
/* ho-tro-tai-chinh/goi-y-mau-xe */

/* phu-tung-xe */
.div_filter .fl{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.div_filter .choose_cat{
	margin-right: 15px;
}
/* phu-tung-xe */

/*  dang ky lai thu */
/*.formDrive .list-car #car > div{
	width: 33.33%;
	float: left;
}*/
.formDrive .list-car input{
	height: 15px;
	width: 15px;
}
.formDrive .list-car strong{
	font-size: 12px;
}
/*  dang ky lai thu */

/* mxh */
/*.itemFoot:before{
	display: none;
}
.itemFoot a.favicon{
	position: absolute;
  font-family: fontAwesome;
  width: 40px;
  height: 40px;
  background: #555555;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0px;
  line-height: 40px;
  text-align: center;
  top: 0;
  left: 0;
  background: url('../images/block-social.png');
	background-repeat: no-repeat;
  background-color: #666;
  background-size: 140px;
  text-indent: -9999px;
}
.itemFoot a.favicon.facebook{ 
} 
.itemFoot a.favicon.twitter{ 
  background-position: -68px 2px;
} 
.itemFoot a.favicon.youtube{ 
  background-position: -102px 2px;
}*/
/* phu kien choi tiet sp */
#flag7 .itemD .img img{
  max-width: 132%;
}
#ext_table_price .lazyloading{
  opacity: 1;
}