*:active,*:focus{

    outline: 0;

}

a, a:hover, a:visited, a:focus{

    text-decoration: none;

}

body,html{

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-size: 14px;

    line-height: 22px;

    color: #333333;

}

*:focus{

    outline: 0;

}

a{

    color:#333333;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

a:hover{

    color: #e21428;

}

#vnt-container{

    max-width: 1920px;

    margin: 0 auto;

    overflow: hidden;

    position: relative;

}

.wrapper{

    max-width:1200px;

    padding: 0 15px;

    margin:0 auto;

}

div#vnt-slide img,

div#vnt-slide-home img {

    width: 100%;

}

.wrapCont {

    padding-bottom: 50px;

}

.slick-init .item{

    display: none;

}

.slick-init .item.slick-slide,

.slick-init .item:first-child{

    display: block;

}

.input-group-img {

    width: 1%;

    white-space: nowrap;

    padding-left: 7px;

    display: table-cell;

    vertical-align: middle;

}

.input-group-img img {

    max-width: inherit;

}

/*==================BEGIN LAZYLOADING==============*/

.lazyloading{

    opacity: 0;

}

.lazy-start{

    -webkit-animation-duration: 1s;

    -o-animation-duration: 1s;

    animation-duration: 1s;

    -webkit-animation-fill-mode: both;

    -o-animation-fill-mode: both;

    animation-fill-mode: both;

}

/*==================END LAZYLOADING================*/

/*==================END SETUP======================*/

/*==================BEGIN HEADER===================*/

.headerMain {

    background: #312e2e;

    position: relative;

}

.headerMain .wrapper{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

    justify-content: space-between;

}

.logo{

    max-width: 70px;

}

.header-tools{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

/*=======================================*/

.menuTop{

    margin-right: 15px;

}

.menuTop>ul{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

.menuTop>ul>li{

    position: relative;

}

.menuTop>ul>li.nop{

    position: initial;

}

.menuTop>ul>li>a {

    font-size: 16px;

    line-height: 25px;

    font-family: 'Roboto Condensed', sans-serif;

    font-weight: bold;

    color: #ffffff;

    text-transform: uppercase;

    padding: 20px 15px;

    display: block;

}

.menuTop>ul>li:hover>a,

.menuTop>ul>li.current>a{

    background: #9e1623;

}

.menuTop>ul>li>ul {

    position: absolute;

    top: 100%;

    right: 0;

    background: #ffffff;

    min-width: 220px;

    opacity: 0;

    visibility: hidden;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    z-index: 2;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);

}

.menuTop>ul>li>ul:before{

    content: "";

    position: absolute;

    bottom: 100%;

    left: 0;

    right: 0;

    height: 10px;

}

.menuTop>ul>li:hover>ul{

    opacity: 1;

    visibility: initial;

}

.menuTop>ul>li>ul>li{

    border-bottom: solid 1px #f5f5f5;

    position: relative;

}

.menuTop>ul>li>ul>li:last-child{

    border-bottom: none;

}

.menuTop>ul>li>ul>li>a {

    white-space: nowrap;

    border-bottom: solid 2px #ffffff;

    color: #333333;

    display: block;

    padding: 10px 20px;

}

.menuTop>ul>li>ul>li:hover>a{

    background: #f8f8f8;

    border-bottom-color: #e21428;

}

.menuTop>ul>li>ul>li>ul {

    position: absolute;

    top: 0;

    right:100%;

    background: #ffffff;

    min-width: 220px;

    opacity: 0;

    visibility: hidden;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    z-index: 2;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);

}

.menuTop>ul>li>ul>li>ul:before{

    content: "";

    position: absolute;

    bottom: 100%;

    left: 0;

    right: 0;

    height: 25px;

}

.menuTop>ul>li>ul>li:hover>ul{

    opacity: 1;

    visibility: initial;

}

.menuTop>ul>li>ul>li>ul>li{

    border-bottom: solid 1px #f5f5f5;

}

.menuTop>ul>li>ul>li>ul>li:last-child{

    border-bottom: none;

}

.menuTop>ul>li>ul>li>ul>li>a {

    white-space: nowrap;

    border-bottom: solid 2px #ffffff;

    color: #333333;

    display: block;

    padding: 10px 20px;

}

.menuTop>ul>li>ul>li>ul>li:hover>a{

    background: #f8f8f8;

    border-bottom-color: #e21428;

}

.menuTop .megaMenu{

    position: absolute;

    top: 100%;

    left: 0;

    right: 0;

    background: #ffffff;

    z-index: 1;

    padding: 30px 0 55px;

    opacity: 0;

    visibility: hidden;

    pointer-events: none;

}

.menuTop ul li:hover .megaMenu{

    opacity: 1;

    visibility: initial;

    pointer-events: auto;

}

.megaMenu .wrapper{

    display: block;

}

.productM{

    padding: 15px;

    border-bottom: solid 2px #e21428;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

    margin-bottom: 30px;

}

.productM:hover{

    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);

}

.productM .img{

    padding-top: 53.797468%;

    position: relative;

    overflow: hidden;

    margin-bottom: 10px;

}

.productM .img img{

    position: absolute;

    left: 50%;

    top: 50%;

    -webkit-transform: translate(-50%,-50%);

    -ms-transform: translate(-50%,-50%);

    -o-transform: translate(-50%,-50%);

    transform: translate(-50%,-50%);

    max-height: 90%;

    max-width: 90%;

}

.productM .trademark{

    margin-bottom: 5px;

    min-height: 15px;

}

.productM .jog{

    font-size: 16px;

    line-height: 24px;

    margin-bottom: 5px;

}

.productM .price{

    font-size: 16px;

    line-height: 24px;

    font-weight: bold;

    margin-bottom: 10px;

}

.productM .tools{

    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;

    align-items: center;

    justify-content: space-between;

}

.productM .tools a.btnC{

    font-size: 13px;

    line-height: 22px;

    padding: 3px 10px;

    position: relative;

    background: #e21428;

    font-weight: normal;

    text-transform: none;

    font-family: 'Roboto', sans-serif;

    color:#ffffff;

}

.productM .tools a.btnC:before{

    content: "";

    position: absolute;

    top: 0;

    bottom: 0;

    width: 28px;

    right: -29px;

    background: url(../images/ic.png) no-repeat center center #e21428;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.productM .tools a.btnC:hover{

    background: #9e1623;

}

.productM .tools a.btnC:hover:before{

    background-color: #9e1623;

}

.productM .tools a.btnD{

    font-size: 13px;

    line-height: 22px;

    padding: 3px 10px;

    position: relative;

    background: #2e2e2e;

    font-weight: normal;

    text-transform: none;

    font-family: 'Roboto', sans-serif;

    margin-right: 29px;

    color:#ffffff;

}

.productM .tools a.btnD:before{

    content: "";

    position: absolute;

    top: 0;

    bottom: 0;

    width: 28px;

    right: -29px;

    background: url(../images/ic.png) no-repeat center center #2e2e2e;

    -webkit-transition: all 0.3s linear;

    -o-transition: all 0.3s linear;

    transition: all 0.3s linear;

}

.productM .tools a.btnD:hover{

    background: #e21428;

}

.productM .tools a.btnD:hover:before{

    background-color: #e21428;

}

/*=================================*/

.searchTop {

    position: relative;

}

.searchTop .icon{

    cursor: pointer;

    font-size: 16px;

    line-height: 24px;

    color: #ffffff;

}

.searchTop .icon img{

    max-width: 15px;

}

.searchTop.active .popup{

    opacity: 1;

    visibility: initial;

    -webkit-transform: initial;

    -ms-transform: initial;

    -o-transform: initial;

    transform: initial;

}

.searchTop .popup {

    background: rgba(255, 255, 255, 0.65);

    position: absolute;

    top: 35px;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);

    right: -35px;

    min-width: 320px;

    padding: 10px;

    -webkit-transition: all 0.15s linear;

    -o-transition: all 0.15s linear;

    transition: all 0.15s linear;

    opacity: 0;

    visibility: hidden;

    -webkit-transform: scale(0.5);

    -ms-transform: scale(0.5);

    -o-transform: scale(0.5);

    transform: scale(0.5);

    z-index: 1;

}





.searchTop .popup:before{

    content: "";

    position: absolute;

    width: 0;

    height: 0;

    border-bottom:solid 10px rgba(255,255,255,0.3);

    border-left: solid 10px transparent;

    border-right: solid 10px transparent;

    bottom: 100%;

    right: 35px;

}

.searchTop .popup input{

    width: 100%;

    height:35px;

    border:none;

    background: rgba(255,255,255,0.8);

}

.searchTop .popup button{

    position: absolute;

    right:15px;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    background: none;

    border:none;

    padding: 0;

    color:#ee216c;

    font-size: 18px;

    line-height: 26px;

}

.headerTools {

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 5px 0px;

}

.headerTools .right{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

.socialTop ul{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-content: center;

}

.socialTop ul li{

    margin-right: 15px;

}

.socialTop ul li:last-child{

    margin-right: 0;

}

.socialTop ul li a{

    color: #666666;

}

.socialTop ul li a:hover{

    color: #e21428;

}

.menuTools{

    margin-right: 30px;

}

.menuTools ul{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

.menuTools ul li{

    margin-right: 30px;

}

.menuTools ul li:last-child{

    margin-right: 0;

}

.menuTools ul li a{

    display: block;

    font-size: 13px;

    line-height: 22px;

}

.menuTools ul li a span{

    padding-left: 25px;

    position: relative;

}

.menuTools ul li a span:before{

    font-family: fontAwesome;

    position: absolute;

    top: 50%;

    left: 0;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    font-size: 18px;

    line-height: 26px;

    color: #e21428;

}

.menuTools{

    margin-right: 30px;

}

.hotlineTop{

    font-size: 20px;

    line-height: 30px;

    color: #e21428;

    padding-left: 25px;

    position: relative;

    font-weight: bold;

    font-family: 'Roboto Condensed', sans-serif;

    margin-right: 20px;

}

.hotlineTop:before{

    content: "\f2a0";

    font-family: fontAwesome;

    position: absolute;

    top: 50%;

    left: 0;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

}

.languageTop ul{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

.languageTop ul li{

    margin-right: 10px;

}

.languageTop ul li:last-child{

    margin-right: 0;

}

.header-mobile{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

.languageMobile{

    padding-right: 20px;

    margin-right: 20px;

    border-right: solid 1px rgba(255,255,255,0.45);

}

.languageMobile a img{

    width: 35px;

}

/*==================END HEADER=====================*/

/*==================BEGIN BREADCRUMB===============*/

.vnt-main-top{

    margin-bottom: 40px;

}

.breadcrumb {

    background: #ededed;

    padding: 9px 0;

}

.breadcrumb ul {

    text-align: right;

    float: right;

    width: initial

}

.breadcrumb ul li {

    padding: 0;

    margin: 0 17px;

    float: left;

    position: relative;

    font-size: 12px;

    line-height: 20px;

    color: #333333;

    text-transform: uppercase;

}

.breadcrumb ul li:first-child {

    margin-left: 0

}

.breadcrumb ul li a {

    font-size: inherit;

    line-height: inherit;

    color:inherit;

    text-transform: inherit;

    display: block;

}

.breadcrumb ul li a:hover {

    color: #810007

}

.breadcrumb ul li:after {

    content: "\f105";

    font-family: fontAwesome;

    position: absolute;

    right: -20px;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    font-size: 15px;

    line-height: 23px

}

.breadcrumb ul li:last-child:after {

    content: initial

}

.breadcrumb ul li:last-child {

    margin-right: 0

}

.breadcrumb ul li.home i {

    line-height: 20px;

}

/*==================END BREADCRUMB=================*/

/*================BEGIN MENU SIDEBAR===============*/

.menuSidebar{

    margin-bottom: 20px;

}

.menuSidebar .title {

    font-size: 16px;

    line-height: 24px;

    background: #ea4725;

    text-transform: uppercase;

    padding: 8px 25px;

    color: #ffffff;

    font-weight: bold;

}

.menuSidebar ul{

    border: solid 1px #dddddd;

    border-top: none;

}

.menuSidebar ul li a {

    display: block;

    padding: 12px 0px;

    padding-left: 35px;

    border-bottom: solid 1px #dddddd;

    border-left: solid 3px #ffffff;

    position: relative;

}

.menuSidebar ul li a:before{

    content: "\f105";

    font-family: FontAwesome;

    position: absolute;

    top: 50%;

    left:15px;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

}

.menuSidebar ul li:last-child a{

    border-bottom: none;

}

.menuSidebar ul li:hover>a{

    color:#f44236;

}

.menuSidebar ul li.active a {

    border-left-color: #ea4725;

    color: #ea4725;

}

.menuSidebar ul li ul li a{

    background: #303030;

    font-weight: normal;

    border:none;

    padding-left: 45px;

    border-bottom: solid 1px #454545;

    position: relative;

}

.menuSidebar ul li ul li a:before{

    content: "\f111";

    font-family: FontAwesome;

    position: absolute;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    color:#ffffff;

    left:25px;

    font-size: 5px;

}

.menuSidebar ul li ul li.active a,

.menuSidebar ul li ul li:hover a{

    color:#b35de4;

}

.bannerSidebar a{

    display: block;

    margin-bottom: 30px;

}

/*================END MENU SIDEBAR=================*/

/*==================BEGIN BOX MID==================*/

.box_mid{

    position: relative;

}

.box_mid .mid-title{

    margin-bottom: 30px;

    padding-bottom: 15px;

}

.box_mid .mid-title:before{

    content: "";

    position: absolute;

    left: 50%;

    bottom: 0;

    -webkit-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    -o-transform: translateX(-50%);

    transform: translateX(-50%);

    width: 160px;

    border-bottom: solid 1px rgba(0,0,0,0.15);

}

.box_mid .mid-title:after{

    content: "";

    position: absolute;

    left: 50%;

    bottom: 0;

    -webkit-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    -o-transform: translateX(-50%);

    transform: translateX(-50%);

    width: 45px;

    border-bottom: solid 1px #e21428;

}

.box_mid .mid-title .titleL{

    font-size: 30px;

    line-height: 40px;

    font-weight: bold;

    font-family: 'Roboto Condensed', sans-serif;

}

.box_mid .mid-title .titleL h1,

.box_mid .mid-title .titleL h2{

    font-size: inherit;

    line-height: inherit;

    font-weight: inherit;

}

/*==================END BOX MID====================*/

/*=================BEGIN MENU TAB==================*/

.menuTab {

    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);

    padding: 10px 0px;

}

.menuTab ul{

    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-wrap: wrap;

}

.menuTab ul li{

    position: relative;

    margin-right: 10px;

}

.menuTab ul li:first-child{

    padding-left: 0;

}

.menuTab ul li:last-child-child{

    padding-right: 0;

}

.menuTab ul li ~ li:after{

    position: absolute;

    /* content: ""; */

    height: 16px;

    border-right: solid 1px #bcbcbc;

    top: 50%;

    left: -0px;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

}

.menuTab ul li a{

    text-transform: uppercase;

    position: relative;

    font-size: 15px;

    line-height: 25px;

    display: block;

    padding: 10px 15px;

    border-radius: 5px;

}

.menuTab ul li.current a:before {

    /* content: ""; */

    position: absolute;

    bottom: -1px;

    left: 0;

    right: 0;

    border-bottom: solid 3px #1c2164;

}

.menuTab ul li.current a,

.menuTab ul li a:hover{

    background: #e21428;

    color: #fff;

}

.menuTab .mc-menu-tab {

    text-transform: uppercase;

    border: solid 1px #e2e2e2;

    padding: 8px 15px;

    cursor: pointer;

    position: relative;

    border-radius: 5px;

}

.menuTab .mc-menu-tab:before {

    content: "\f0d7";

    font-family: fontawesome;

    position: absolute;

    right: 20px;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    font-size: 18px;

    line-height: 26px;

    font-weight: normal;

}

/*=================END MENU TAB====================*/

/*================BEGIN : SELECT J=================*/

.select-j {

    margin-bottom: 25px;

    position: relative;

}

.select-j .title {

    padding: 9px 20px;

    position: relative;

    border: solid 1px #e94725;

    color: #e94725;

    font-size: 16px;

    line-height: 24px;

    font-weight: bold;

    text-transform: uppercase;

}

.select-j .title:before{

    content: "\f0d7";

    font-family: FontAwesome;

    position: absolute;

    right: 15px;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    font-size: 18px;

    line-height: 26px;

}

.select-j .title:hover {

    cursor: pointer;

}

.select-j .content {

    position: absolute;

    left: 0;

    top: 104%;

    background: #fff;

    border: solid 1px #d0d0d0;

    width: 100%;

    max-height: 200px;

    overflow: auto;

    z-index: 1;

    display: none;

}

.select-j .content ul li a {

    padding: 8px 15px;

    border-bottom: solid 1px #e2e2e2;

    display: block;

}

/*================BEGIN: SELECT J==================*/

/*================BEGIN: SELECT P=================*/

.div_auto_complete{

    position: relative;

}

.div_auto_complete.active{

    z-index: 999999;

}

.div_auto_complete:after{

    position: absolute;

    top: 50%;

    right: 10px;

    font-family: fontawesome;

    content: '\f0d7';

    font-size: 16px;

    line-height: 25px;

    z-index: 10;

    pointer-events: none;

    color: #333333;

    -webkit-transform: translate(0, -50%);

    -moz-transform: translate(0, -50%);

    -ms-transform: translate(0, -50%);

    -o-transform: translate(0, -50%);

    transform: translate(0, -50%);

}

.div_auto_complete .dropdown_select{

    position: absolute;

    top: 100%;

    left: 0;

    right: 0;

    max-height: 200px;

    overflow: auto;

    background: #ffffff;

    margin-top: 1px;

    opacity: 0;

    visibility: hidden;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

.div_auto_complete.active .dropdown_select{

    opacity: 1;

    visibility: visible;

}

.div_auto_complete .dropdown_select ul li{

    font-weight: normal;

    font-size: 13px;

    line-height: 25px;

    color: #333333;

    border-bottom: 1px solid rgba(0,0,0,0.1);

}

.div_auto_complete .dropdown_select ul li.closed{

    display: none;

}

.div_auto_complete .dropdown_select ul li li{

    border-top: 1px solid rgba(0,0,0,0.1);

    border-bottom: 0;

}

.div_auto_complete .dropdown_select ul li span.text{

    display: block;

    padding: 10px 15px;

    -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}

.div_auto_complete .dropdown_select ul li li span.text:before{

    content: '|-- ';

}

.div_auto_complete .dropdown_select ul li:hover > span.text{

    background: #f7f7f7;

}

.div_auto_complete .form-control{

    padding-right: 25px;

}

/*================BEGIN: SELECT P==================*/

/*================BEGIN PAGINATION=================*/

.pagination ul li span.pagecur, .pagination ul li a{

    border:none;

    background: #ffffff;

    border:solid 1px #c3c3c3;

    border-radius: 5px;

}

.pagination ul li a:hover, .pagination ul li span.pagecur{

    background: #e21428;

    border-color:#e21428;

    color:#ffffff;

}

/*================END PAGINATION===================*/

/*================BEGIN MY TOOLS===================*/

.myTools {

    padding: 10px;

    margin-bottom: 20px;

    background: #f6f6f6;

}

.myTools .share{

    float:left;

}

.myTools .share ul li {

    float: left;

    margin-right: 15px;

}

.myTools .print{

    float:right;

}

.myTools .print ul li {

    float: left;

    margin-left: 15px;

}

.myTools .print ul li a {

    font-size: 14px;

    line-height: 22px;

    padding-left: 25px;

    position: relative;

}

.myTools .print ul li a:before{

    font-family: FontAwesome;

    position: absolute;

    left: 0;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

}

.myTags {

    margin-bottom: 15px;

}

.myTags p {

    float: left;

    padding: 0;

    margin-right: 10px;

    font-size: 13px;

    line-height: 21px;

    text-transform: uppercase;

}

.myTags ul li {

    padding-right: 10px;

    margin-right: 10px;

    padding-left: 0;

    position: relative;

}

.myTags ul li:after {

    content: "/";

    position: absolute;

    right: -5px;

    color:#999999;

}

.myTags ul li:last-child{

    padding-right: 0px;

}

.myTags ul li:last-child:after {

    content: initial;

}

.myTags ul li a {

    font-size: 13px;

    line-height: 21px;

    color: #999999;

    font-style: italic;

}

.myTags ul li a:hover{

    color:#ed1b2f;

}

.comment{

    margin-bottom: 50px;

}

.comment .title{

    font-size: 25px;

    line-height: 33px;

    margin-bottom: 10px;

    text-transform: uppercase;

    font-weight: bold;

    font-family: 'Roboto Condensed', sans-serif;

}

.formComment .form-control{

    height: 38px;

    -webkit-border-radius: 0;

    -moz-border-radius: 0;

    border-radius: 0;

}

.formComment textarea.form-control{

    resize: vertical;

    -webkit-transition:all 0.5s ease;

    -moz-transition:all 0.5s ease;

    -o-transition:all 0.5s ease;

    transition:all 0.5s ease;

    height: 100px;

}

.formComment .input-group-btn{

    padding-left: 5px;

    vertical-align: top;

}

.formComment .input-group-img{

    display: table-cell;

    padding-left: 10px;

    vertical-align: top;

}

.formComment .input-group-img img{

    max-width: none;

}

.formComment button.btn{

    height: auto;

    font-size: 16px;

    line-height: 24px;

    color: #ffffff;

    padding: 7px 20px;

    text-transform: uppercase;

    background: #67635c;

    border: 0;

    margin-right: 5px;

    -webkit-transition:all 0.5s ease;

    -moz-transition:all 0.5s ease;

    -o-transition:all 0.5s ease;

    transition:all 0.5s ease;

}

.formComment button.btn:hover{

    background: #e21428;

}

.formComment button.btn:active{

    outline: none;

}

.formComment button.btn span{

    color: #ffffff;

}

.formComment .w_content .content-info{

    padding: 15px;

    clear: both;

    background-color: #ffffff;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);

    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);

    -o-box-shadow: 0 0 5px rgba(0,0,0,0.3);

    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.3);

    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    display: none;

}

.formComment .w_content .content-info .info-title{

    margin-bottom: 10px;

}

.formComment .w_content .content-info .form-control{

    float: none;

    margin-bottom: 10px;

}

/*=================================*/

.grid-comment{

    margin-bottom: 20px;

}

.grid-comment .node-commnet{

    padding: 20px 0;

    border-bottom: 1px solid rgba(0,0,0,0.1);

}

.grid-comment .node-commnet .avatar{

    width: 55px;

    float: left;

}

.grid-comment .node-commnet .avatar img{

    width: 100%;

}

.grid-comment .node-commnet .info-comment{

    margin-left: 70px;

}

.grid-comment .node-commnet .info-comment .info-preson{

    font-size: 12px;

    line-height: 25px;

}

.grid-comment .node-commnet .info-comment .info-preson .name{

    font-size: 14px;

    font-weight: bold;

}

.grid-comment .node-commnet .info-comment .ccomment{

    font-size: 14px;

    line-height: 25px;

    color:#666666;

}

.grid-comment .node-commnet .info-comment .linkanswer{

    margin-bottom: 10px;

    margin-top: 5px;

    text-align: right;

    font-size: 14px;

    line-height: 24px;

    font-weight: bold;

    color: #f58021;

}

.grid-comment .node-commnet .info-comment .linkanswer a{

    position: relative;

    display: inline-block;

    padding-right: 12px;

    color: #666666;

}

.grid-comment .node-commnet .info-comment .linkanswer a:hover{

    text-decoration: underline;

}

.grid-comment .node-commnet .info-comment .linkanswer a:after{

    position: absolute;

    font-family:"fontawesome";

    content:"\f054";

    top:2px;

    right: 0;

    color: #666666;

    font-size: 7px;

}

.listanswer .nodeanswer{

    border:solid 1px rgba(255,255,255,0.15);

    background: #ffffff;

    margin-bottom:1px;

    padding: 10px;

}

.conmment-facebook{

    margin-bottom: 25px;

}

/*================END MY TOOLS=====================*/

/*==================BEGIN FOOTER===================*/

.mainFoot{

    background: #e6e6e6;

}

.mainFoot .grid{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: stretch;

    flex-wrap: wrap;

}

.mainFoot .grid .col{

    width: 50%;

    border-right: solid 1px rgba(255,255,255,0.7);

}

.mainFoot .grid .col:last-child{

    border-right: none;

}

.mainFoot .grid .col .wrap{

    width: 100%;

    max-width: 600px;

    padding: 20px 15px 25px;

}

.mainFoot .grid .col:first-child .wrap{

    float: right;

    padding-right: 80px;

}

.mainFoot .grid .col:last-child .wrap{

    float: left;

    padding-left: 80px;

}

.titleSupport {

    font-size: 25px;

    line-height: 33px;

    font-weight: bold;

    text-transform: uppercase;

    font-family: 'Roboto Condensed', sans-serif;

}

.txtSupport{

    font-size: 15px;

    line-height: 23px;

    color: #555555;

    margin-bottom: 15px;

}

.attrSupport{

    border-top: solid 1px #cccccc;

    border-bottom: solid 1px #cccccc;

    padding: 10px 0;

    margin-bottom: 15px;

}

.attrSupport ul li{

    margin-bottom: 5px;

}

.attrSupport ul li:last-child{

    margin-bottom: 0;

}

.attrSupport .at{

    width: 170px;

    float: left;

    font-size: 15px;

    line-height: 33px;

}

.attrSupport .as{

    overflow: hidden;

    font-size: 18px;

    line-height: 26px;

    color: #e21428;

    font-weight: bold;

    text-transform: uppercase;

}

.dfSupport {

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

}

.dfSupport .num{

    margin-right:30px;

}

.dfSupport .num:last-child{

    margin-right: 0;

}

.dfSupport .num span{

    color: #e21428;

    display: inline-block;

}

.mainFoot .itemFoot:last-child{

    margin-bottom: 0;

    padding-bottom: 0;

    border-bottom: none;

}

.itemFoot{

    padding-left: 60px;

    padding-bottom: 15px;

    margin-bottom: 20px;

    border-bottom: solid 1px #cccccc;

    position: relative;

}

.itemFoot:before{

    position: absolute;

    font-family: fontAwesome;

    width: 40px;

    height: 40px;

    background: #555555;

    border-radius: 5px;

    color: #ffffff;

    font-size: 16px;

    line-height: 40px;

    text-align: center;

    top: 0;

    left: 0;

}

.itemFoot .tit{

    font-size: 16px;

    line-height: 24px;

    color: #e21428;

    text-transform: uppercase;

    font-family: 'Roboto Condensed', sans-serif;

    font-weight: bold;

}

.itemFoot .txt{

    font-size: 13px;

    line-height: 21px;

}

.botFoot {

    background: #0e0e0e;

    padding: 29px 0px;

}

.footDf{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center

}

.logoFoot{

    max-width: 160px;

    margin-right: 35px;

}

.formRecive .txt{

    font-size: 13px;

    line-height: 21px;

    color: #cccccc;

    margin-bottom: 10px;

    text-transform: uppercase;

}

.formRecive form{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center

}

.formRecive input {

    width: -webkit-calc(100% - 50px);

    width: -moz-calc(100% - 50px);

    width: -o-calc(100% - 50px);

    width: calc(100% - 50px);

    height: 40px;

    border: none;

    padding-left: 15px;

    color: #666666;

    font-size: 16px;

    line-height: 24px;

    font-style: italic;

    border: solid 1px #878787;

    border-right: none;

    background: none;

}

.formRecive button {

    width: 50px;

    height: 40px;

    background: #878787;

    border: none;

    padding: 0;

    top: 50%;

    font-size: 13px;

    line-height: 21px;

    color:#ffffff;

}

.boxFoot{

    padding-right: 170px;

}

.boxFoot .imgFoot{

    position: absolute;

    top: 50%;

    right: 0;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    max-width: 130px;

}

.menuCp{

    margin-bottom: 10px;

}

.menuCp ul{

    display: -webkit-flex;

    display: -moz-flex;

    display: -ms-flex;

    display: -o-flex;

    display: flex;

    align-items: center;

    margin: 0 -10px;

}

.menuCp ul li{

    padding: 0 10px;

    position: relative;

}

.menuCp ul li~li:before{

    content: "\f111";

    font-family: fontAwesome;

    position: absolute;

    left: -3px;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    color: #cccccc;

    font-size: 6px;

}

.menuCp ul li a{

    display: block;

    white-space: nowrap;

    overflow: hidden;

    -ms-text-overflow: ellipsis;

    text-overflow: ellipsis;

    font-size: 13px;

    line-height: 21px;

    color: #cccccc;

    text-transform: uppercase;

}

.menuCp select{

    width: 130px;

    height: 30px;

    background: #131313;

    color: #cccccc;

    border: none;

    border-bottom: solid 1px #cccccc;

}

.copyright{

    font-size: 13px;

    line-height: 21px;

    color: #cccccc;

    font-weight: bold;

    text-align: right;

}

.addressFoot{

    text-align: right;

}

.addressFoot p{

    padding: 0;

    font-size: 12px;

    line-height: 21px;

    color: #777777;

}

.addressFoot p a{

    color: inherit;

}

.addressFoot p a:hover{

    color: #ffffff;

}

/*==================END FOOTER=====================*/

/*==================GO TOP=========================*/

a.go_top {

    width: 45px;

    height: 45px;

    position: fixed;

    background: #666666;

    bottom: 80px;

    right: 15px;

    border-radius: 100%;

    z-index: 11;

    font-size: 15px;

    color:#ffffff;

}

a.go_top:before {

    content: "\f077";

    font-family: FontAwesome;

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%,-50%);

    -ms-transform: translate(-50%,-50%);

    -o-transform: translate(-50%,-50%);

    transform: translate(-50%,-50%);

    -webkit-transition: all 0.8s ease;

    -o-transition: all 0.8s ease;

    transition: all 0.8s ease;

    -webkit-animation: bouncez 1.2s 500ms infinite;

    -o-animation: bouncez 1.2s 500ms infinite;

    animation: bouncez 1.2s 500ms infinite;

}

@keyframes bouncez {

    0%, 20%, 50%, 80%, 100% {transform: translate(-50%,-50%);}

    40% {transform: translate(-50%,-80%);}

    60% {transform: translate(-50%,-60%);}

}

@-webkit-keyframes bouncez {

    0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(-50%,-50%);}

    40% {-webkit-transform: translate(-50%,-80%);}

    60% {-webkit-transform: translate(-50%,-60%);}

}

@-moz-keyframes bouncez {

    0%, 20%, 50%, 80%, 100% {-moz-transform: translate(-50%,-50%);}

    40% {-moz-transform: translate(-50%,-80%);}

    60% {-moz-transform: translate(-50%,-60%);}

}

@-o-keyframes bouncez {

    0%, 20%, 50%, 80%, 100% {-o-transform: translate(-50%,-50%);}

    40% {-o-transform: translate(-50%,-80%);}

    60% {-o-transform: translate(-50%,-60%);}

}

/*=================BEGIN APP LAZYLOAD==========*/

.loading{

    min-height: 450px;

    position: relative;

}

.loading:before{

    content: "";

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    background: rgba(255,255,255,0.97);

    z-index: 1;

}

.loading:after{

    content: "";

    position: absolute;

    left: 50%;

    top: 50%;

    -webkit-transform: translate(-50%,-50%);

    -ms-transform: translate(-50%,-50%);

    -o-transform: translate(-50%,-50%);

    transform: translate(-50%,-50%);

    z-index: 2;

    width: 150px;

    height: 150px;

    background: url(../images/loading.svg) no-repeat center center;

    background-size: cover;

    opacity: 0.6;

}

/*=================END APP LAZYLOAD============*/

/*=============================================*/

#menuFixbot{

    position: fixed;

    bottom: 0;

    left: 0;

    right: 0;

    background: #e21428;

}

#menuFixbot ul{

    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;

    align-items: center;

}

#menuFixbot ul li{

    width: 50%;

    border-right: solid 1px #ffffff;

}

#menuFixbot ul li a{

    display: block;

    font-size: 18px;

    line-height: 26px;

    font-weight: bold;

    color:#ffffff;

    padding: 14px 10px;

    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;

}

#menuFixbot ul li a span{

    padding-left: 30px;

    position: relative;

}

#menuFixbot ul li a span:before{

    font-family: fontAwesome;

    position: absolute;

    left:0;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    transform: translateY(-50%);

    font-weight: normal;

}

/*==========================================================================*/

/*============================RESPONSIVE====================================*/

/*==========================================================================*/

@media all and (max-width: 1050px){

.menuTop>ul>li>a{

    padding: 20px 10px;

}

}



@media all and (max-width: 991px){

.wrapper{

    padding: 0 10px;

}

.headerMain{

    padding: 10px 0;

}

.mainFoot .grid .col:first-child .wrap{

    padding-right: 25px;

}

.mainFoot .grid .col:last-child .wrap{

    padding-left: 25px;

}

.logoFoot,

.menuCp{

    display: none;

}

.boxFoot{

    padding-right: 0;

    padding-bottom: 110px;

}

.boxFoot .imgFoot{

    bottom: 0;

    left: 50%;

    -webkit-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    -o-transform: translateX(-50%);

    transform: translateX(-50%);

}

.copyright,

.addressFoot{

    text-align: center;

}

.footDf{

    display: block;

}

.footDf .txt{

    text-align: center;

}

.formRecive{

    margin-bottom: 20px;

}

.botFoot{

    padding: 15px 0 100px;

}

.menuTab{

    position: relative;

    padding:0;

    border-bottom: none;

    margin-top: 20px;

    box-shadow: none;

}

.menuTab ul {

    position: absolute;

    top: 100%;

    right: 10px;

    left: 10px;

    display: block;

    z-index: 5;

    border: solid 1px #dfdfdf;

    background: #ffffff;

    display: none;

}

.menuTab.active ul{

    display: block;

}

.menuTab ul li{

    padding:0;

    margin: 0;

}

.menuTab ul li ~ li{

    border:none;

}

.menuTab ul li a {

    padding: 8px 10px;

    font-size: 13px;

    line-height: 18px;

    text-transform: none;

}

.menuTab ul li.current a,

.menuTab ul li:hover a{

    background: none;

    color:#e21428;

}

.menuTab ul li.current a:before,

.menuTab ul li ~ li:after{

    content: initial;

}

.vnt-main-top{

    margin-bottom: 25px;

}

.box_mid .mid-title .titleL{

    font-size: 25px;

    line-height: 35px;

}

}



@media all and (max-width: 800px){

.mainFoot .grid .col{

    width: 100%;

}

.mainFoot .grid .col:last-child{

    display: none;

}

.mainFoot .grid .col .wrap{

    max-width: 100%;

}

.attrSupport .at{

    width: 150px;

}

.dfSupport{

    display: block;

}

}



@media all and (max-width: 480px){

.attrSupport .as{

    font-size: 16px;

    line-height: 24px;

}

.attrSupport .at{

    font-size: 14px;

    line-height: 22px;

}

.productM .tools a.btnC,

.productM .tools a.btnD{

    padding: 3px 5px;

}

}