.date_share{
    padding-top: 20px;
    border-top: dotted 1px rgba(0,0,0,0.2);
}
/*====================================================*/
.linkAllNews a{
    display: block;
    font-weight: bold;
    color:#ae1f23;
    text-transform: uppercase;
}
.linkAllNews a span{
    padding-right: 20px;
    position: relative;
}
.linkAllNews a span:before{
    content: "\f054";
    font-family: fontAwesome;
    position: absolute;
    right:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: normal;
}
.linkAllNews a:hover{
    color:#feca3b;
}
.linkAllCat {
    text-align: center;
    margin-bottom: 45px;
}
.linkAllCat a {
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    background: #ae1f23;
    text-transform: uppercase;
    padding: 11px 45px;
}
.linkAllCat a:hover{
    background: #feca3b;
    color:#333333;
}
/*====================================================*/
.newsSmall{
    margin-bottom: 30px;
}
.newsSmall .img{
    margin-bottom: 15px;
}
.newsSmall .img .wrap{
    padding-top: 66.666666%;
    position: relative;
    overflow: hidden;
}
.newsSmall .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.newsSmall .img:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.newsSmall .tend a{
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    height:44px;
    overflow: hidden;
    text-transform: uppercase;
}
/*====================================================*/
.newsS{
    background: #f4f4f0;
}
.newsS:after{
    content: "";
    display: block;
    clear: both;
}
.newsS .img{
    width:48%;
    float: left;
}
.newsS .img .wrap{
    padding-top: 66.666666%;
    position: relative;
    overflow: hidden;
}
.newsS .img .wrap img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.newsS .img:hover .wrap img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.newsS .caption {
    overflow: hidden;
    padding: 40px 50px;
}
.newsS .per{
    margin-bottom: 20px;
}
.newsS .per span {
    display: inline-block;
    line-height: 20px;
    background: #feca3b;
    padding: 5px 9px;
    text-transform: uppercase;
    font-weight: bold;
}
.newsS .tend{
    margin-bottom: 15px;
}
.newsS .tend a{
    display: block;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    max-height: 90px;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
.newsS .tend a:hover{
    color:#e21428;
}
.newsS .des{
    overflow: hidden;
    max-height: 88px;
    color: #666666;
}
.newsS .date{
    display: inline-block;
    background: rgba(226, 20, 40, 0.8);
    position: relative;
    color: #ffffff;
    padding: 4px 10px;
    padding-left: 30px;
    margin-bottom: 15px;
}
.newsS .date:before{
    content: "\f133";
    font-family: fontAwesome;
    position: absolute;
    left: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slideNews .slick-dots{
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: center;
    z-index: 1;
}
.slideNews .slick-dots li{
    margin-left: 10px;
    display: inline-block;
}
.slideNews .slick-dots li button{
    width:10px;
    height:10px;
    font-size: 0;
    padding: 0;
    border:none;
    border-radius: 100%;
    background: #bfbfbf;
}
.slideNews .slick-dots li.slick-active button{
    background: #e21428;
}
.slideNews{
    margin-bottom: 30px;
}
/*==================================================*/
.news{
    margin-bottom: 30px;
    background: #f6f6f6;
}
.news .img{
    padding-top: 65.666666%;
    position: relative;
    overflow: hidden;
}
.news .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: translateX(-50%);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.news .img:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.news .date {
    font-size: 13px;
    line-height: 21px;
    background: rgba(226, 20, 40, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    padding-left: 30px;
    color: #ffffff;
}
.news .date:before{
    content: "\f133";
    font-family: fontAwesome;
    position: absolute;
    left:10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.news .caption{
    padding: 25px 30px;
}
.news .tend{
    margin-bottom: 10px;
}
.news .tend a{
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    height:48px;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.news .des{
    color: #666666;
    height: 66px;
    overflow: hidden;
}
/*====================================================*/
.the-title{
    margin-bottom: 15px;
}
.the-title h1{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.the-date{
    font-size: 13px;
    line-height: 21px;
    color:#999999;
    margin-bottom: 5px;
}
.the-content{
    text-align: justify;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    color: #666666;
}
/*========================================================*/
.newsOther .title{
    margin-bottom: 10px;
}
.newsOther .title h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.newsOther ul li{
    padding-left: 20px;
    position: relative;
    margin-bottom: 7px;
}
.newsOther ul li:before{
    content: "\f054";
    font-family: Fontawesome;
    position: absolute;
    left:0;
    top: 9px;
    font-size: 11px;
    line-height: 11px;
    color: #e21428;
}
.newsOther ul li a{
    display: block;
    font-size: 16px;
    line-height: 24px;
}
.newsOther ul li a span{
    font-size: 13px;
    line-height: 21px;
    color:#999999;
}
/*============================BOX SIDEBAR==========================*/
.news-most {
    margin-bottom: 30px;
}
.news-most .title {
    text-transform: uppercase;
    background: #f0f0f0;
    padding: 8px 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.news-most .content {
    padding: 15px 10px;
    border: solid 2px #f0f0f0;
    border-top: none;
}
.news-most .item{
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.news-most .img {
    float: left;
    width: 90px;
    margin-right: 10px;
    overflow: hidden;
}
.news-most .img img{
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.news-most .img:hover img{
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}
.news-most .tend{
    overflow: hidden;
}
.news-most .tend a{
    font-size: 14px;
    line-height: 22px;
    display: block;
    max-height: 66px;
    font-weight: normal;
}
.vnt-news-most .slick-arrow {
    background: none;
    border: none;
    font-size: 0;
    position: absolute;
    right: 0;
    top: -50px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.vnt-news-most .slick-prev{
    margin-right: 30px;
}
.vnt-news-most .slick-arrow:before{
    font-family: FontAwesome;
    font-size: 16px;
    line-height:24px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: normal;
}
.vnt-news-most .slick-prev:before{
    content:"\f078";
}
.vnt-news-most .slick-next:before{
    content:"\f077";
}
.vnt-news-most .slick-arrow:hover{
    color: #e21428;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.newsS .caption{
    padding: 20px;
    padding-bottom: 50px;
}
}

@media all and (max-width: 768px){
.newsS .img{
    width:100%;
    float: none;
}
.slideNews .slick-dots {
    bottom: 25px;
    right: 25px;
    left: 25px;
}
.news:after{
    content: "";
    display: block;
    clear: both;
}
.news .caption{
    padding: 20px 15px;
}
}

@media all and (max-width: 360px){
.news .img{
    width: 100%;
    padding-top: 66.666666%;
    float: none;
    margin-right: 0;
}
}