.vnt-ads-home.lazyloading{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}
.vnt-ads-home.lazyloading.showlazy{
	opacity: 1;
	visibility: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
/*================================================================*/
.boxHomeProduct.lazyloading .title .titleL{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}
.boxHomeProduct.lazyloading .title .titleR{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.3s;
	-o-transition: all 0.6s linear 0.3s;
	transition: all 0.6s linear 0.3s;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}
.boxHomeProduct.lazyloading .slideHomeProduct .slick-arrow{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}
.boxHomeProduct.lazyloading .slideHomeProduct .item .product{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
	-webkit-transform: translateY(20%);
	-ms-transform: translateY(20%);
	-o-transform: translateY(20%);
	transform: translateY(20%);
}
.boxHomeProduct.lazyloading .bannerHomeProduct{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.4s;
	-o-transition: all 0.6s linear 0.4s;
	transition: all 0.6s linear 0.4s;
}
.boxHomeProduct.lazyloading.showlazy .title .titleL,
.boxHomeProduct.lazyloading.showlazy .title .titleR,
.boxHomeProduct.lazyloading.showlazy .slideHomeProduct .item .product,
.boxHomeProduct.lazyloading.showlazy .bannerHomeProduct{
	opacity: 1;
	visibility: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
.boxHomeProduct.lazyloading.showlazy .slideHomeProduct .slick-arrow{
	opacity: 1;
	visibility: initial;
}
/*====================================================================*/
.vnt-service.lazyloading .title{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}
.vnt-service.lazyloading .content .des{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
	-webkit-transform: translateY(20%);
	-ms-transform: translateY(20%);
	-o-transform: translateY(20%);
	transform: translateY(20%);
}
.vnt-service.lazyloading .content .service{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s cubic-bezier(0.520, 0.050, 0.830, 1.465);
	-o-transition: all 0.6s cubic-bezier(0.520, 0.050, 0.830, 1.465);
	transition: all 0.6s cubic-bezier(0.520, 0.050, 0.830, 1.465);
	-webkit-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
}
.vnt-service.lazyloading .content .linkAll{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.4s;
	-o-transition: all 0.6s linear 0.4s;
	transition: all 0.6s linear 0.4s;
}
.vnt-service.lazyloading.showlazy .title,
.vnt-service.lazyloading.showlazy .content .des,
.vnt-service.lazyloading.showlazy .content .service,
.vnt-service.lazyloading.showlazy .content .linkAll{
	opacity: 1;
	visibility: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
/*==============================================================================*/
.vnt-opinion.lazyloading .title{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}
.vnt-opinion.lazyloading #slideOpinionFor .item .img{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s cubic-bezier(0.520, 0.050, 0.830, 1.865);
	-o-transition: all 0.6s cubic-bezier(0.520, 0.050, 0.830, 1.865);
	transition: all 0.6s cubic-bezier(0.520, 0.050, 0.830, 1.865);
	-webkit-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
}
.vnt-opinion.lazyloading #slideOpinionNav{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.6s;
	-o-transition: all 0.6s linear 0.6s;
	transition: all 0.6s linear 0.6s;
}
.vnt-opinion.lazyloading .content .linkAll{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.8s;
	-o-transition: all 0.6s linear 0.8s;
	transition: all 0.6s linear 0.8s;
}
.vnt-opinion.lazyloading.showlazy .title,
.vnt-opinion.lazyloading.showlazy #slideOpinionFor .item .img,
.vnt-opinion.lazyloading.showlazy #slideOpinionNav,
.vnt-opinion.lazyloading.showlazy .content .linkAll{
	opacity: 1;
	visibility: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
/*===========================================================================*/
.vnt-why.lazyloading .title .t1{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.3s;
	-o-transition: all 0.6s linear 0.3s;
	transition: all 0.6s linear 0.3s;
}
.vnt-why.lazyloading .title .t2{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
}
.vnt-why.lazyloading .grid .col:nth-child(1){
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.6s;
	-o-transition: all 0.6s linear 0.6s;
	transition: all 0.6s linear 0.6s;
}
.vnt-why.lazyloading .grid .col:nth-child(2){
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.8s;
	-o-transition: all 0.6s linear 0.8s;
	transition: all 0.6s linear 0.8s;
}
.vnt-why.lazyloading .grid .col:nth-child(3){
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 1s;
	-o-transition: all 0.6s linear 1s;
	transition: all 0.6s linear 1s;
}
.vnt-why.lazyloading.showlazy .title .t1,
.vnt-why.lazyloading.showlazy .title .t2,
.vnt-why.lazyloading.showlazy .grid .col:nth-child(1),
.vnt-why.lazyloading.showlazy .grid .col:nth-child(2),
.vnt-why.lazyloading.showlazy .grid .col:nth-child(3){
	opacity: 1;
	visibility: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
/*=====================================================================*/
.vnt-news.lazyloading .title{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 1s;
	-o-transition: all 0.6s linear 1s;
	transition: all 0.6s linear 1s;
}
.vnt-news.lazyloading .menuNews ul li{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
	-webkit-transform: rotate3d(0,1,0,35deg);
	-ms-transform: rotate3d(0,1,0,35deg);
	-o-transform: rotate3d(0,1,0,35deg);
	transform: rotate3d(0,1,0,35deg);
}
.vnt-news.lazyloading .news{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	transition: all 0.6s linear;
	-webkit-transform: translateX(35%);
	-ms-transform: translateX(35%);
	-o-transform: translateX(35%);
	transform: translateX(35%);
}
.vnt-news.lazyloading .news.s{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.6s linear 0.3;
	-o-transition: all 0.6s linear 0.3;
	transition: all 0.6s linear 0.3;
	-webkit-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
	-o-transform: translateX(-20%);
	transform: translateX(-20%);
}
.vnt-news.lazyloading.showlazy .title,
.vnt-news.lazyloading.showlazy .menuNews ul li,
.vnt-news.lazyloading.showlazy .news.s,
.vnt-news.lazyloading.showlazy .news{
	opacity: 1;
	visibility: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}