.vnt-slide-home{
	position: relative;
}
.vnt-slide-home .go_bot{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #ffffff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
	bottom: -25px;
	border-radius: 100%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 30px;
	line-height: 40px;
	color:#e21428;
}
.vnt-slide-home .go_bot i{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#vnt-slide-home .item{
	position: relative;
}
#vnt-slide-home .captionWrap{
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	pointer-events: none;
}
#vnt-slide-home .caption{
	background: rgba(255,255,255,0.8);
	padding: 20px 25px;
	max-width: 400px;
	-webkit-transition: all 0.5s linear 0.5s;
	-o-transition: all 0.5s linear 0.5s;
	transition: all 0.5s linear 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: auto;
}
#vnt-slide-home .caption .t1{
	font-size: 26px;
	line-height: 34px;
	font-weight: bold;

	color:#2655ad;
	margin-bottom: 10px;
}
#vnt-slide-home .caption .t2{
	color:#555555;
}
#vnt-slide-home .item.slick-current .caption{
	opacity: 1;
	visibility: initial;
}
#vnt-slide-home .slick-arrow{
	width:20px;
	height:30px;
	background: none;
	border:none;
	position: absolute;
	top: 50%;
	font-size: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#ffffff;
	text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}
#vnt-slide-home .slick-prev{
	left:30px;
}
#vnt-slide-home .slick-next{
	right:30px;
}
#vnt-slide-home .slick-arrow:before{
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 50px;
	line-height: 58px;
}
#vnt-slide-home .slick-prev:before{
	content: "\f104";
}
#vnt-slide-home .slick-next:before{
	content: "\f105";
}
#vnt-slide-home .slick-arrow:hover{
	color:#0eaaec;
}
#vnt-slide-home .slick-dots{
	position: absolute;
	left: 15px;
	bottom: 20px;
	text-align: center;
}
#vnt-slide-home .slick-dots li{
	display: inline-block;
	margin: 0 5px;
}
#vnt-slide-home .slick-dots li button{
	width:10px;
	height:10px;
	background: transparent;
	border-radius: 100%;
	font-size: 0;
	padding:0;
	border:solid 2px #ffffff;
}
#vnt-slide-home .slick-dots li.slick-active button{
	background: #e21428;
	border-color: #e21428;
}
/* ====================================================== */
.showroomHome{
	padding: 45px 0 55px;
	background: url('../images/bg1.jpg') no-repeat center center;
	background-size: cover;
}
.showroomHome .title{
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
}
.showroomHome .title:before{
	content: "";
	width: 80px;
	border-bottom: solid 2px #e21428;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.showroomHome .title .txt{
	font-size: 15px;
	line-height: 23px;
	color: #666666;
}
.showroomHome .title h2{
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
}
.slideShowRoom{
	margin-bottom: 45px;
}
.slideShowRoom .item .img{
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
}
.slideShowRoom .item.slick-current .img{
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
}
.slideInfo .item{
	text-align: center;
}
.slideInfo .t1{
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	color: #e21428;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.slideInfo .t2{
	font-size: 15px;
	line-height: 23px;
	color: #555555;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.slideInfo .df{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slideInfo .btnC {
    font-size: 13px;
    line-height: 21px;
    color: #e21428;
    border: solid 1px #e21428;
    text-transform: uppercase;
    border-radius: 3px;
    background: #ffffff;
    display: block;
    padding: 6px 19px;
    margin-right: 10px;
}
.slideInfo .btnC span{
	padding-left: 20px;
	position: relative;
}
.slideInfo .btnC span:before{
	content: "\f138";
	font-family: fontAwesome;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #e21428;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.slideInfo .btnC:hover{
	background: #e21428;
	color: #ffffff;
}
.slideInfo .btnC:hover span:before{
	color: #ffffff;
}
.slideInfo .btnD {
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
    background: #e21428;
    display: block;
    padding: 7px 19px;
    margin-right: 10px;
}
.slideInfo .btnD span{
	padding: 2px 0;
	padding-left: 25px;
	position: relative;
	background: url('../images/per.png') no-repeat center left;
}
.slideInfo .btnD:hover{
	background: #e21428;
	color: #ffffff;
}
.slideInfo .btnD:hover{
	background: #ad0d1c;
}
.slideInfo .slick-arrow{
	width: 110px;
	height: 45px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	font-size: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}
.slideInfo .slick-prev{
	left: 0;
	background-image: url('../images/i-prev.png')
}
.slideInfo .slick-next{
	right: 0;
	background-image: url('../images/i-next.png')
}
/* ===================================================== */
.advHome{
	height: 555px;
	background: url('../images/bg2.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.momCircle{
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.circle{
	position: absolute;
	background: #ffffff;
	border-radius: 100%;
	width: 160px;
	height: 160px;
	left: -80px;
	top: -80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.circle:before{
	content: "";
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
	border-radius: 100%;
	border: solid 1px rgba(255,255,255,0.5);
	opacity: 0;
	pointer-events: none;
}
.circle.effect:before {
    -webkit-animation: shadow 1s linear;
    -o-animation: shadow 1s linear;
    animation: shadow 1s linear;
}
.circle .img{
	margin-bottom: 10px;
}
.circle .txt{
	font-weight: bold;
	text-align: center;
	max-width: 65%;
	text-transform: uppercase;
}
.circle.v1{
	-webkit-transform: rotate(-75deg) translateY(-430px) rotate(75deg);
	-ms-transform: rotate(-75deg) translateY(-430px) rotate(75deg);
	-o-transform: rotate(-75deg) translateY(-430px) rotate(75deg);
	transform: rotate(-75deg) translateY(-430px) rotate(75deg);
}
.circle.v2{
	-webkit-transform: rotate(-45deg) translateY(-430px) rotate(45deg);
	-ms-transform: rotate(-45deg) translateY(-430px) rotate(45deg);
	-o-transform: rotate(-45deg) translateY(-430px) rotate(45deg);
	transform: rotate(-45deg) translateY(-430px) rotate(45deg);
}
.circle.v3{
	-webkit-transform: rotate(-15deg) translateY(-430px) rotate(15deg);
	-ms-transform: rotate(-15deg) translateY(-430px) rotate(15deg);
	-o-transform: rotate(-15deg) translateY(-430px) rotate(15deg);
	transform: rotate(-15deg) translateY(-430px) rotate(15deg);
}
.circle.v4{
	-webkit-transform: rotate(15deg) translateY(-430px) rotate(-15deg);
	-ms-transform: rotate(15deg) translateY(-430px) rotate(-15deg);
	-o-transform: rotate(15deg) translateY(-430px) rotate(-15deg);
	transform: rotate(15deg) translateY(-430px) rotate(-15deg);
}
.circle.v5{
	-webkit-transform: rotate(45deg) translateY(-430px) rotate(-45deg);
	-ms-transform: rotate(45deg) translateY(-430px) rotate(-45deg);
	-o-transform: rotate(45deg) translateY(-430px) rotate(-45deg);
	transform: rotate(45deg) translateY(-430px) rotate(-45deg);
}
.circle.v6{
	-webkit-transform: rotate(75deg) translateY(-430px) rotate(-75deg);
	-ms-transform: rotate(75deg) translateY(-430px) rotate(-75deg);
	-o-transform: rotate(75deg) translateY(-430px) rotate(-75deg);
	transform: rotate(75deg) translateY(-430px) rotate(-75deg);
}
.momCircle .circle ~ .circle:after{
	content: "\f054";
	font-family: fontAwesome;
	position: absolute;
	font-size: 25px;
	line-height: 35px;
	color: #999999;
}
.circle.v2:after{
	-webkit-transform:translate(-55px,95px) rotate(-55deg);
	-ms-transform:translate(-55px,95px) rotate(-55deg);
	-o-transform:translate(-55px,95px) rotate(-55deg);
	transform:translate(-55px,95px) rotate(-55deg);
}
.circle.v3:after{
	-webkit-transform:translate(-97px,54px) rotate(-29deg);
	-ms-transform:translate(-97px,54px) rotate(-29deg);
	-o-transform:translate(-97px,54px) rotate(-29deg);
	transform:translate(-97px,54px) rotate(-29deg);
}
.circle.v4:after{
	-webkit-transform:translate(-110px,0px) rotate(0);
	-ms-transform:translate(-110px,0px) rotate(0);
	-o-transform:translate(-110px,0px) rotate(0);
	transform:translate(-110px,0px) rotate(0);
}
.circle.v5:after{
	-webkit-transform:translate(-98px,-56px) rotate(25deg);
	-ms-transform:translate(-98px,-56px) rotate(25deg);
	-o-transform:translate(-98px,-56px) rotate(25deg);
	transform:translate(-98px,-56px) rotate(25deg);
}
.circle.v6:after{
	-webkit-transform:translate(-55px,-95px) rotate(55deg);
	-ms-transform:translate(-55px,-95px) rotate(55deg);
	-o-transform:translate(-55px,-95px) rotate(55deg);
	transform:translate(-55px,-95px) rotate(55deg);
}
.infoCircle{
	width: 535px;
	height: 535px;
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%,50%);
	-ms-transform: translate(-50%,50%);
	-o-transform: translate(-50%,50%);
	transform: translate(-50%,50%);
	background: #e21428;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	padding: 75px 20px 45px;
	text-align: center;
}
.infoCircle:before {
    content: "";
    position: absolute;
    top: -35px;
    bottom: -35px;
    left: -35px;
    right: -35px;
    border: solid 35px rgba(226, 20, 40, 0.5);
    pointer-events: none;
    border-radius: 100%;
}
.infoCircle:after {
    content: "";
    position: absolute;
    top: -150px;
    bottom: -150px;
    left: -150px;
    right: -150px;
    border: solid 1px rgba(255,255,255,0.35);
    pointer-events: none;
    border-radius: 100%;
}
.infoCircle .t1{
	font-size: 30px;
	line-height: 40px;
	color:#ffffff;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}
.infoCircle .t2{
	color:#ffffff;
	max-width: 70%;
	margin-bottom: 10px;
}
.infoCircle .t3{
	font-weight: bold;
	text-transform: uppercase;
	color:#ffffff;
}
@-webkit-keyframes shadow{
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
    20%{
        transform: rotate(0deg) scale(1.1) skew(1deg);
        opacity: .2
    }
    40% {
        transform: rotate(0deg) scale(1.2) skew(1deg);
        opacity: .4
    }
    60%{
        transform: rotate(0deg) scale(1.3) skew(1deg);
        opacity: 1.0
    }
    80%{
        transform: rotate(0deg) scale(1.4) skew(1deg);
        opacity: .4
    }
    100% {
        transform: rotate(0deg) scale(1.5) skew(1deg);
        opacity: .0
    }
}
@-moz-keyframes shadow{
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
    20%{
        transform: rotate(0deg) scale(1.1) skew(1deg);
        opacity: .2
    }
    40% {
        transform: rotate(0deg) scale(1.2) skew(1deg);
        opacity: .4
    }
    60%{
        transform: rotate(0deg) scale(1.3) skew(1deg);
        opacity: 1.0
    }
    80%{
        transform: rotate(0deg) scale(1.4) skew(1deg);
        opacity: .4
    }
    100% {
        transform: rotate(0deg) scale(1.5) skew(1deg);
        opacity: .0
    }
}
@-o-keyframes shadow{
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
    20%{
        transform: rotate(0deg) scale(1.1) skew(1deg);
        opacity: .2
    }
    40% {
        transform: rotate(0deg) scale(1.2) skew(1deg);
        opacity: .4
    }
    60%{
        transform: rotate(0deg) scale(1.3) skew(1deg);
        opacity: 1.0
    }
    80%{
        transform: rotate(0deg) scale(1.4) skew(1deg);
        opacity: .4
    }
    100% {
        transform: rotate(0deg) scale(1.5) skew(1deg);
        opacity: .0
    }
}
@keyframes shadow{
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
    20%{
        transform: rotate(0deg) scale(1.1) skew(1deg);
        opacity: .2
    }
    40% {
        transform: rotate(0deg) scale(1.2) skew(1deg);
        opacity: .4
    }
    60%{
        transform: rotate(0deg) scale(1.3) skew(1deg);
        opacity: 1.0
    }
    80%{
        transform: rotate(0deg) scale(1.4) skew(1deg);
        opacity: .4
    }
    100% {
        transform: rotate(0deg) scale(1.5) skew(1deg);
        opacity: .0
    }
}
/*============================================================*/
.phukienHome{
	padding: 40px 0 55px;
}
.phukienHome .title{
	text-align: center;
	margin-bottom: 15px;
}
.phukienHome .title h2{
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
.menuPhukien{
	border-top: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.1);
	margin-bottom: 30px;
}
.menuPhukien ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuPhukien ul li{
	margin: 0 10px;
}
.menuPhukien ul li:first-child{
	margin-left: 0;
}
.menuPhukien ul li:last-child{
	margin-right: 0;
}
.menuPhukien ul li a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #666666;
    padding: 7px 0px;
    position: relative;
}
.menuPhukien ul li:hover a,
.menuPhukien ul li.active a{
	color:#e21428;
}
.menuPhukien ul li a:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	border-bottom: solid 2px #e21428;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menuPhukien ul li.active a:before{
	opacity: 1;
	visibility: initial;
}
.menuPhukien .mc-menu{
	font-weight: bold;
	color:#666666;
	text-transform: uppercase;
	border:solid 1px #d4d4d4;
	border-radius: 3px;
	padding: 8px 15px;
	cursor: pointer;
	position: relative;
}
.menuPhukien .mc-menu:before{
	content: "\f107";
	font-family: fontAwesome;
	position: absolute;
	right:15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.phukien .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.phukien .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.phukien .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.phukien .tend a{
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.phukien .price{
	font-size: 13px;
	line-height: 21px;
	color:#e21428;
}
.phukien .des{
	font-size: 13px;
	line-height: 21px;
	color:#777777;
	height:63px;
	overflow: hidden;
}
.slidePhukien .slick-list{
	margin: 0 -15px;
}
.slidePhukien .item{
	padding: 0 15px;
}
.slidePhukien .slick-arrow{
	width:20px;
	height:30px;
	background: none;
	border:none;
	position: absolute;
	top: 50%;
	font-size: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#999999;
	text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}
.slidePhukien .slick-prev{
	left:-70px;
}
.slidePhukien .slick-next{
	right:-70px;
}
.slidePhukien .slick-arrow:before{
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 50px;
	line-height: 58px;
}
.slidePhukien .slick-prev:before{
	content: "\f104";
}
.slidePhukien .slick-next:before{
	content: "\f105";
}
.slidePhukien .slick-arrow:hover{
	color:#e21428;
}
.slidePhukien .slick-dots{
	position: absolute;
	left: 0;
	right:0;
	bottom: 0;
	text-align: center;
}
.slidePhukien .slick-dots li{
	display: inline-block;
	margin: 0 5px;
}
.slidePhukien .slick-dots li button{
	width:10px;
	height:10px;
	background: #cccccc;
	border-radius: 100%;
	font-size: 0;
	padding:0;
	border:none;
}
.slidePhukien .slick-dots li.slick-active button{
	background: #e21428;
	border-color: #e21428;
}
/*========================================================*/
.newsHome{
	padding-top: 30px;
	background: #f3f3f3;
}
.newsHome .title{
	text-align: center;
	margin-bottom: 15px;
}
.newsHome .title h2{
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
.newsHome .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.newsHome .grid .col{
	width: 25%;
	border-right: solid 1px #eceeeb;
}
.news{
	background: #ffffff;
}
.news .img{
    padding-top: 66.666666%;
    position: relative;
    overflow: hidden;
}
.news .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    max-width: initial;
}
.news .img:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.news .date {
    font-size: 13px;
    line-height: 21px;
    background: rgba(226, 20, 40, 0.6);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    color:#ffffff;
    padding-left: 30px;
}
.news .date:before{
    content: "\f133";
    font-family: fontAwesome;
    position: absolute;
    left:10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.news .caption{
	padding: 20px 25px;
}
.news .tend{
    margin-bottom: 10px;
}
.news .tend a{
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    height:48px;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.news .des{
    color: #777777;
    text-align: justify;
    height: 66px;
    overflow: hidden;
}
/*===========================================================*/
.videoHome{
	height: 400px;
	background: url(../images/bg3.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.videoHome:before{
	content: "";
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.videoHome .icon{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background: rgba(255,255,255,0.2);
	position: relative;
	border:solid 2px #ffffff;
	font-size: 18px;
	line-height: 26px;
	color:#ffffff;
	margin-bottom: 10px;
}
.videoHome .icon i{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.videoHome .t1{
	font-size: 40px;
	line-height: 50px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	position: relative;
}
.videoHome .t2{
	font-size: 18px;
	line-height: 26px;
	color:#ffffff;
	text-transform: uppercase;
	position: relative;
	text-align: center;
}
.videoHome .link{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 1050px){
.circle{
	width: 140px;
	height: 140px;
	left: -70px;
	top: -70px;
}
.circle.v1{
	-webkit-transform: rotate(-75deg) translateY(-400px) rotate(75deg);
	-ms-transform: rotate(-75deg) translateY(-400px) rotate(75deg);
	-o-transform: rotate(-75deg) translateY(-400px) rotate(75deg);
	transform: rotate(-75deg) translateY(-400px) rotate(75deg);
}
.circle.v2{
	-webkit-transform: rotate(-45deg) translateY(-400px) rotate(45deg);
	-ms-transform: rotate(-45deg) translateY(-400px) rotate(45deg);
	-o-transform: rotate(-45deg) translateY(-400px) rotate(45deg);
	transform: rotate(-45deg) translateY(-400px) rotate(45deg);
}
.circle.v3{
	-webkit-transform: rotate(-15deg) translateY(-400px) rotate(15deg);
	-ms-transform: rotate(-15deg) translateY(-400px) rotate(15deg);
	-o-transform: rotate(-15deg) translateY(-400px) rotate(15deg);
	transform: rotate(-15deg) translateY(-400px) rotate(15deg);
}
.circle.v4{
	-webkit-transform: rotate(15deg) translateY(-400px) rotate(-15deg);
	-ms-transform: rotate(15deg) translateY(-400px) rotate(-15deg);
	-o-transform: rotate(15deg) translateY(-400px) rotate(-15deg);
	transform: rotate(15deg) translateY(-400px) rotate(-15deg);
}
.circle.v5{
	-webkit-transform: rotate(45deg) translateY(-400px) rotate(-45deg);
	-ms-transform: rotate(45deg) translateY(-400px) rotate(-45deg);
	-o-transform: rotate(45deg) translateY(-400px) rotate(-45deg);
	transform: rotate(45deg) translateY(-400px) rotate(-45deg);
}
.circle.v6{
	-webkit-transform: rotate(75deg) translateY(-400px) rotate(-75deg);
	-ms-transform: rotate(75deg) translateY(-400px) rotate(-75deg);
	-o-transform: rotate(75deg) translateY(-400px) rotate(-75deg);
	transform: rotate(75deg) translateY(-400px) rotate(-75deg);
}
.infoCircle:after{
	top: -120px;
	bottom: -120px;
	left: -120px;
	right: -120px;
}
}

@media all and (max-width: 991px){
.advHome{
	height:initial;
	padding: 25px 0px 0;
}
.circle{
	margin: 0 auto;
	top:initial;
	left:initial;
	position: relative !important;
	-webkit-transform: initial !important;
	-ms-transform: initial !important;
	-o-transform: initial !important;
	transform: initial !important;
}
.momCircle{
	width:100%;
	max-width: 340px;
	margin: 0 auto;
	height:auto;
	position: initial;
	-webkit-transform: initial;
	-ms-transform: initial;
	-o-transform: initial;
	transform: initial;
	margin-bottom: 50px;
}
.momCircle .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.momCircle .grid .col{
	width: 50%;
	padding: 0 10px;
	margin-bottom: 20px;
}
.infoCircle {
    position: relative;
    -webkit-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial;
    margin: 0 auto;
    left: initial;
    margin-bottom: -250px;
}
.infoCircle:after{
	display: none;
}
.menuPhukien{
	border-top: none;
	border-bottom: none;
	position: relative;
	margin-bottom: 15px;
}
.menuPhukien ul{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #ffffff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
	z-index: 1;
	display: none;
}
.menuPhukien.active ul{
	display: block;
}
.menuPhukien ul li a:before{
	display: none;
}
.menuPhukien ul li{
	margin: 0;
}
.menuPhukien ul li a{
	padding: 10px 15px;
	font-weight: normal;
	text-transform: none;
}
.slidePhukien .slick-list{
	margin: 0 -5px;
}
.slidePhukien .item{
	padding: 0 5px;
}
.slidePhukien{
	padding-bottom: 30px;
}
.phukien .tend a{
	font-size: 14px;
	line-height: 22px;
}
.phukien .des{
	display: none;
}
.newsHome .grid .col{
	width: 33.333333%;
}
.newsHome .grid .col:nth-child(7),
.newsHome .grid .col:nth-child(8){
	width: 50%;
}
}

@media all and (max-width: 768px){
.slideInfo .btnD,
.slideInfo .btnC{
	font-size: 10px;
}
.newsHome .grid .col{
	width: 50%;
}
.news .caption{
	padding: 10px;
}
.news .tend a{
	font-size: 14px;
	line-height: 22px;
	height:44px;
}
}

@media all and (max-width: 620px){
.infoCircle {
    width: 100%;
    height: 320px;
    background: url(../images/bg_c.png) no-repeat center top;
    background-size: cover;
    margin-bottom: initial;
    border-radius: initial;
    padding: 115px 10px 15px;
}
.infoCircle:before{
	display: none;
}
.infoCircle .t1{
	font-size: 20px;
	line-height: 30px;
}
.infoCircle .t2{
	font-size: 12px;
	line-height: 20px;
}
.momCircle{
	margin-bottom: 0;
}
}

@media all and (max-width: 370px){
.newsHome .grid .col{
	width: 100%;
}
.newsHome .grid .col:nth-child(7),
.newsHome .grid .col:nth-child(8){
	width: 100%;
}
}
