html.mnpopup-overflow{
	overflow: hidden;
	pointer-events: none;
	position: relative;
}
.mnpopup{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2410;
	pointer-events: auto;
}
.mnpopup-overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}
.mnpopup-wrap{
	position: absolute;
	width: 90%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 2;
}
.mnpopup-content{
	position: relative;
	width:100%;
	height:100%;
}
.mnpopup-content>iframe{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.mnpopup-close{
	width:30px;
	height:30px;
	background: #f5f5f5;
	border-radius: 100%;
	position: absolute;
	top: -15px;
	right: -15px;
	cursor: pointer;
}
.mnpopup-close:before{
	content: "x";
	text-transform: uppercase;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
}