.menuPhukien{
	border-top: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.1);
	margin-bottom: 30px;
}
.menuPhukien ul{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuPhukien ul li{
	margin: 0 10px;
}
.menuPhukien ul li:first-child{
	margin-left: 0;
}
.menuPhukien ul li:last-child{
	margin-right: 0;
}
.menuPhukien ul li a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: #666666;
    padding: 7px 0px;
    position: relative;
}
.menuPhukien ul li:hover a,
.menuPhukien ul li.active a{
	color:#e21428;
}
.menuPhukien ul li a:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	border-bottom: solid 2px #e21428;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menuPhukien ul li.active a:before{
	opacity: 1;
	visibility: initial;
}
.menuPhukien .mc-menu{
	font-weight: bold;
	color:#666666;
	text-transform: uppercase;
	border:solid 1px #d4d4d4;
	border-radius: 3px;
	padding: 8px 15px;
	cursor: pointer;
	position: relative;
}
.menuPhukien .mc-menu:before{
	content: "\f107";
	font-family: fontAwesome;
	position: absolute;
	right:15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.phukien .img{
	padding-top: 66.666666%;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}
.phukien .img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.phukien .img:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.phukien .tend a{
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.phukien .price{
	font-size: 13px;
	line-height: 21px;
	color:#e21428;
}
.phukien .des{
	font-size: 13px;
	line-height: 21px;
	color:#777777;
	height:63px;
	overflow: hidden;
}
.slidePhukien .slick-list{
	margin: 0 -15px;
}
.slidePhukien .item{
	padding: 0 15px;
}
.slidePhukien .slick-arrow{
	width:20px;
	height:30px;
	background: none;
	border:none;
	position: absolute;
	top: 50%;
	font-size: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#999999;
	text-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}
.slidePhukien .slick-prev{
	left:-70px;
}
.slidePhukien .slick-next{
	right:-70px;
}
.slidePhukien .slick-arrow:before{
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 50px;
	line-height: 58px;
}
.slidePhukien .slick-prev:before{
	content: "\f104";
}
.slidePhukien .slick-next:before{
	content: "\f105";
}
.slidePhukien .slick-arrow:hover{
	color:#e21428;
}
.slidePhukien .slick-dots{
	position: absolute;
	left: 0;
	right:0;
	bottom: 0;
	text-align: center;
}
.slidePhukien .slick-dots li{
	display: inline-block;
	margin: 0 5px;
}
.slidePhukien .slick-dots li button{
	width:10px;
	height:10px;
	background: #cccccc;
	border-radius: 100%;
	font-size: 0;
	padding:0;
	border:none;
}
.slidePhukien .slick-dots li.slick-active button{
	background: #e21428;
	border-color: #e21428;
}
.phukienTools{
	padding: 15px;
	background: #f2f2f2;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}
.phukienTools select{
	width: 270px;
	height: 35px;
	border:solid 1px #e5e5e5;
	padding-left: 15px;
}
.phukienTools .sort{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.phukienTools .sort .txt{
	margin-right: 15px;
}
.phukienTools .sort select{
	width: 170px;
}
.vnt-phukien .phukien{
	margin-bottom: 30px;
}
/*===========================================================*/
.designPhukien .fancybox-close{
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	background: #ffffff;
}
.designPhukien .fancybox-close:before{
	content: "\f00d";
	font-family: fontAwesome;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.designPhukien .fancybox-skin,
.designPhukien iframe body{
	background: none;
}
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 991px){
.menuPhukien{
	border-top: none;
	border-bottom: none;
	position: relative;
	margin-bottom: 15px;
}
.menuPhukien ul{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #ffffff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
	z-index: 1;
	display: none;
}
.menuPhukien.active ul{
	display: block;
}
.menuPhukien ul li a:before{
	display: none;
}
.menuPhukien ul li{
	margin: 0;
}
.menuPhukien ul li a{
	padding: 10px 15px;
	font-weight: normal;
	text-transform: none;
}
.phukien .tend a{
	font-size: 14px;
	line-height: 22px;
}
.phukien .des{
	display: none;
}
}

@media all and (max-width: 620px){
.phukienTools{
	display: block;
}
.phukienTools select{
	width: 100%;
}
.phukienTools .sort{
	margin-top: 10px;
}
.phukienTools .sort select{
	width: 100%;
}
.phukienTools .sort .txt{
	white-space: nowrap;
}
}