/*Your custom css*/

.advHome>.infoCircle .t1, div#vnt-content>.videoHome .t1, .wrap>.itemFoot .tit, .mid-content>.info-contact .name, .mid-content>.the-content .t1 {

	text-transform: none

}

.the-content table {

	margin-left: auto;

	margin-right: auto

}

.desc img {

	display: block;

	margin: 0 auto

}

div#vnt-product-box>.boxProduct:first-child, .tableTempast-child {

	display: block

}

.tableTemplate table .t4 {

	font-size: 24px;

	line-height: 32px;

	font-weight: 700;

	font-family: 'Roboto Condensed', sans-serif;

	text-align: center

}

.divfinance>.gridmenlate table .bg-grey {

	background: #ebebeb

}

.itemFoot .tit a, div#vnt-footer>.mainFoot .grid .col:lu .row-menu ul li a:before, .divfinance>.gridmenu .row-menu ul li a:hover, .wrapper>.divResult .divtext3 span, .mid-content>.divResult .divtext3 span, .divfinance>.gridmenu .row-menu ul li a:before, .the-content>.divContact .title {

color:#e21428

}

.itemFoot .tit a:hover, .slideColorWrap>#slideColor .txt {

	color: #333

}

.mid-content>.designTable .tend {

	padding-top: 30px

}

.wrapper>.SearchCar .rowInput .rInput .btn.submit, .col-md-4.col-sm-12.col-xs-12>.SearchCar .rowInput .rInput .btn.submit {

	background: #e21428

}

.mid-content>.designTable table tr td:first-child {

	width: 295px

}

.mid-content>.designTable table tr td:last-child {

	width: 421px

}

.mid-content>.divResult .divImg, .languageTop, .languageMobile, #menuFixbot {

	display: none

}

.languageTop a img {

	max-height: 13px

}

.mid-content>.formDrive button {

	font-size: 15px;

	line-height: 23px

}

div#vnt-content>.showroomHome {

	background-size: cover

}

.phonering-alo-phone {

	position: fixed;

	visibility: hidden;

	background-color: transparent;

	width: 200px;

	height: 200px;

	cursor: pointer;

	z-index: 200000!important;

	-webkit-backface-visibility: hidden;

	-webkit-transform: translateZ(0);

	transition: visibility .5s;

	bottom: 0;

	position: fixed

}

.phonering-alo-phone.phonering-alo-show {

	visibility: visible

}

@-webkit-keyframes fadeInRight {

0% {

opacity:0;

-webkit-transform:translate3d(100%, 0, 0);

transform:translate3d(100%, 0, 0)

}

100% {

opacity:1;

-webkit-transform:none;

transform:none

}

}

@-webkit-keyframes fadeInRightBig {

0% {

opacity:0;

-webkit-transform:translate3d(2000px, 0, 0);

transform:translate3d(2000px, 0, 0)

}

100% {

opacity:1;

-webkit-transform:none;

transform:none

}

}

@-webkit-keyframes fadeOutRight {

0% {

opacity:1

}

100% {

opacity:0;

-webkit-transform:translate3d(100%, 0, 0);

transform:translate3d(100%, 0, 0)

}

}

.fadeOutRight {

	-webkit-animation-name: fadeOutRight;

	animation-name: fadeOutRight

}

.phonering-alo-phone.phonering-alo-static {

	opacity: .6

}

.phonering-alo-phone.phonering-alo-hover, .phonering-alo-phone:hover {

	opacity: 1

}

.phonering-alo-ph-circle {

	width: 160px;

	height: 160px;

	top: 20px;

	left: 20px;

	position: absolute;

	background-color: transparent;

	border-radius: 100%!important;

	border: 2px solid rgba(30,30,30,.4);

	border: 2px solid #e21428 9;

	opacity: .1;

	-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;

	animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;

	transition: all .5s;

	-webkit-transform-origin: 50% 50%;

	-ms-transform-origin: 50% 50%;

	transform-origin: 50% 50%

}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle {

	-webkit-animation: phonering-alo-circle-anim 1.1s infinite ease-in-out!important;

	animation: phonering-alo-circle-anim 1.1s infinite ease-in-out!important

}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle {

	-webkit-animation: phonering-alo-circle-anim 2.2s infinite ease-in-out!important;

	animation: phonering-alo-circle-anim 2.2s infinite ease-in-out!important

}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle, .phonering-alo-phone:hover .phonering-alo-ph-circle {

	border-color: #e21428;

	opacity: .5

}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle, .phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle {

	border-color: #e21428;

	border-color: #baf5a7;

	opacity: .5

}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {

	border-color: #e21428;

	border-color: #e21428;

	opacity: .5

}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle, .phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle {

	border-color: #ccc;

	opacity: .5

}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle {

	border-color: #e21428;

	opacity: .5

}

.phonering-alo-ph-circle-fill {

	width: 100px;

	height: 100px;

	top: 50px;

	left: 50px;

	position: absolute;

	background-color: #000;

	border-radius: 100%!important;

	border: 2px solid transparent;

	-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;

	animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;

	transition: all .5s;

	-webkit-transform-origin: 50% 50%;

	-ms-transform-origin: 50% 50%;

	transform-origin: 50% 50%

}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle-fill {

	-webkit-animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out!important;

	animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out!important

}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle-fill {

	-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out!important;

	animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out!important;

	opacity: 0!important

}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle-fill, .phonering-alo-phone:hover .phonering-alo-ph-circle-fill {

	background-color: rgba(226,20,40,.5);

	background-color: #e21428 9;

	opacity: .75!important

}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle-fill, .phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle-fill {

	background-color: rgba(117,235,80,.5);

	background-color: #baf5a7 9;

	opacity: .75!important

}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill {

	background-color: rgba(226,20,40,.5);

	background-color: #a6e3fa 9

}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle-fill, .phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle-fill {

	background-color: rgba(204,204,204,.5);

	background-color: #ccc 9;

	opacity: .75!important

}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle-fill {

	background-color: rgba(117,235,80,.5);

	opacity: .75!important

}

.phonering-alo-ph-img-circle {

	width: 60px;

	height: 60px;

	top: 70px;

	left: 70px;

	position: absolute;

	background: rgba(30,30,30,.1) url(images/download.png) no-repeat center center;

	border-radius: 100%!important;

	border: 2px solid transparent;

	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;

	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;

	-webkit-transform-origin: 50% 50%;

	-ms-transform-origin: 50% 50%;

	transform-origin: 50% 50%

}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-img-circle {

	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out!important;

	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out!important

}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-img-circle {

	-webkit-animation: phonering-alo-circle-img-anim 0 infinite ease-in-out!important;

	animation: phonering-alo-circle-img-anim 0 infinite ease-in-out!important

}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-img-circle, .phonering-alo-phone:hover .phonering-alo-ph-img-circle {

	background-color: #e21428

}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-img-circle, .phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-img-circle {

	background-color: #e21428;

	background-color: #e21428 9

}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {

	background-color: #e21428;

	background-color: #e21428 9

}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-img-circle, .phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-img-circle {

	background-color: #ccc

}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-img-circle {

	background-color: #e21428

}

@-webkit-keyframes phonering-alo-circle-anim {

0% {

-webkit-transform:rotate(0) scale(.5) skew(1deg);

-webkit-opacity:.1

}

30% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

-webkit-opacity:.5

}

100% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

-webkit-opacity:.1

}

}

@-webkit-keyframes phonering-alo-circle-fill-anim {

0% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

opacity:.2

}

50% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

opacity:.2

}

100% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

opacity:.2

}

}

@-webkit-keyframes phonering-alo-circle-img-anim {

0% {

-webkit-transform:rotate(0) scale(1) skew(1deg)

}

10% {

-webkit-transform:rotate(-25deg) scale(1) skew(1deg)

}

20% {

-webkit-transform:rotate(25deg) scale(1) skew(1deg)

}

30% {

-webkit-transform:rotate(-25deg) scale(1) skew(1deg)

}

40% {

-webkit-transform:rotate(25deg) scale(1) skew(1deg)

}

50% {

-webkit-transform:rotate(0) scale(1) skew(1deg)

}

100% {

-webkit-transform:rotate(0) scale(1) skew(1deg)

}

}

@-webkit-keyframes fadeInRight {

0% {

opacity:0;

-webkit-transform:translate3d(100%, 0, 0);

-ms-transform:translate3d(100%, 0, 0);

transform:translate3d(100%, 0, 0)

}

100% {

opacity:1;

-webkit-transform:none;

-ms-transform:none;

transform:none

}

}

@keyframes fadeInRight {

0% {

opacity:0;

-webkit-transform:translate3d(100%, 0, 0);

-ms-transform:translate3d(100%, 0, 0);

transform:translate3d(100%, 0, 0)

}

100% {

opacity:1;

-webkit-transform:none;

-ms-transform:none;

transform:none

}

}

@-webkit-keyframes fadeOutRight {

0% {

opacity:1

}

100% {

opacity:0;

-webkit-transform:translate3d(100%, 0, 0);

-ms-transform:translate3d(100%, 0, 0);

transform:translate3d(100%, 0, 0)

}

}

@keyframes fadeOutRight {

0% {

opacity:1

}

100% {

opacity:0;

-webkit-transform:translate3d(100%, 0, 0);

-ms-transform:translate3d(100%, 0, 0);

transform:translate3d(100%, 0, 0)

}

}

@-webkit-keyframes phonering-alo-circle-anim {

0% {

-webkit-transform:rotate(0) scale(.5) skew(1deg);

transform:rotate(0) scale(.5) skew(1deg);

opacity:.1

}

30% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

transform:rotate(0) scale(.7) skew(1deg);

opacity:.5

}

100% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg);

opacity:.1

}

}

@keyframes phonering-alo-circle-anim {

0% {

-webkit-transform:rotate(0) scale(.5) skew(1deg);

transform:rotate(0) scale(.5) skew(1deg);

opacity:.1

}

30% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

transform:rotate(0) scale(.7) skew(1deg);

opacity:.5

}

100% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg);

opacity:.1

}

}

@-webkit-keyframes phonering-alo-circle-fill-anim {

0% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

transform:rotate(0) scale(.7) skew(1deg);

opacity:.2

}

50% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg);

opacity:.2

}

100% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

transform:rotate(0) scale(.7) skew(1deg);

opacity:.2

}

}

@keyframes phonering-alo-circle-fill-anim {

0% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

transform:rotate(0) scale(.7) skew(1deg);

opacity:.2

}

50% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg);

opacity:.2

}

100% {

-webkit-transform:rotate(0) scale(.7) skew(1deg);

transform:rotate(0) scale(.7) skew(1deg);

opacity:.2

}

}

@-webkit-keyframes phonering-alo-circle-img-anim {

0% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg)

}

10% {

-webkit-transform:rotate(-25deg) scale(1) skew(1deg);

transform:rotate(-25deg) scale(1) skew(1deg)

}

20% {

-webkit-transform:rotate(25deg) scale(1) skew(1deg);

transform:rotate(25deg) scale(1) skew(1deg)

}

30% {

-webkit-transform:rotate(-25deg) scale(1) skew(1deg);

transform:rotate(-25deg) scale(1) skew(1deg)

}

40% {

-webkit-transform:rotate(25deg) scale(1) skew(1deg);

transform:rotate(25deg) scale(1) skew(1deg)

}

50% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg)

}

100% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg)

}

}

@keyframes phonering-alo-circle-img-anim {

0% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg)

}

10% {

-webkit-transform:rotate(-25deg) scale(1) skew(1deg);

transform:rotate(-25deg) scale(1) skew(1deg)

}

20% {

-webkit-transform:rotate(25deg) scale(1) skew(1deg);

transform:rotate(25deg) scale(1) skew(1deg)

}

30% {

-webkit-transform:rotate(-25deg) scale(1) skew(1deg);

transform:rotate(-25deg) scale(1) skew(1deg)

}

40% {

-webkit-transform:rotate(25deg) scale(1) skew(1deg);

transform:rotate(25deg) scale(1) skew(1deg)

}

50% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg)

}

100% {

-webkit-transform:rotate(0) scale(1) skew(1deg);

transform:rotate(0) scale(1) skew(1deg)

}

}

.boxFoot>.formRecive input {

	background: #555;

	border: none;

	color: #fff

}

.boxFoot>.formRecive button {

	background: #434142

}

.boxFoot>.formRecive form {

	border: solid 1px #555

}

#listMenuColor ul li a {

	border: solid 1px #000

}

.wrap360>.btn-arrow button {

	top: auto;

	bottom: 0

}



@media only screen and (min-width:1024px) and (max-width:1920px) {

.phonering-alo-phone.phonering-alo-show {

	visibility: visible;

	display: none!important

}

}



@media (min-width:1024px) {

/* .wrapper>.header-tools {

	padding-left: 255px

} */

.wrapper>.logo {

	position: relative;

	top: 3px;
	
	margin-bottom:5px;

	z-index: 2;

	max-width: none

}

.footDf>.logoFoot {

	max-width: 240px

}

.footDf>.addressFoot {

	text-align: left

}

.col-lg-6.col-md-6.col-sm-12.col-xs-12>.boxFoot {

	padding-right: 150px

}

.col-lg-6.col-md-6.col-sm-12.col-xs-12>.footDf {

	display: block

}

.copyright, .logoFoot {

	margin-bottom: 10px

}

.formRecive {

	display: -webkit-flex;

	display: -moz-flex;

	display: -ms-flex;

	display: -o-flex;

	display: flex;

	justify-content: flex-end

}

.boxFoot>.formRecive .txt {

	margin-right: 10px;

	margin-bottom: 0;

	line-height: 42px;

	white-space: nowrap

}

}



@media (max-width:1024px) {

.wrapper>.header-tools {

	padding-left: 195px

}

.formRecive .txt {

	text-align: center

}

}



@media (max-width:800px) {

div#vnt-footer>.mainFoot .grid .col:last-child {

	display: block

}

}



@media (max-width:767px) {

.tableTemplate>.table-responsive table {

	font-size: 12px;

	line-height: 20px

}

.item>.tableTemplate table .t1 {

	font-size: 16px;

	line-height: 24px

}

.item>.tableTemplate table .t2, .item>.tableTemplate table .t3 {

	font-size: 14px;

	line-height: 22px

}

.table-responsive td:first-child {

	width: 45%

}

.formRecive .txt {

	text-align: center

}

.copyright, .addressFoot {

	margin-bottom: 10px

}

}





.widget_nav_menu.col-3 .menu li{

	display: inline-block;

    width: 49%;

    box-sizing: border-box;

}



#vnt-slide-home{ margin-bottom:0; }

#website366com-dynmic-sb-home .widget{ float:left; width:100%; }

.wrapper_new{ padding-bottom:30px; }

.box_mid .mid-title .titleL h1{ margin-top:30px; }



.navigation.pagination{

	float: left;

    width: 100%;

    text-align: center;

}



.navigation.pagination .screen-reader-text{

	display:none;

}

.navigation.pagination .page-numbers .icon{

	width:11px;

	height:11px;

	color: #fff;

	fill:#fff;

}

.navigation.pagination .page-numbers{

	background: #e21428;

    color: #fff;

    padding: 10px 15px;

}



.navigation.pagination .page-numbers.current{

	background:#252525;

	color:#fff;

}



.menuTop>ul>li.current-menu-item>a {

    background: #9e1623;

}



.clear {

    clear: both;

    font-size: 0;

}

.form-contact.v2, .map-contact, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{ float:left; width:100%; }

.form-contact.v2 .wpcf7-form-control-wrap{ position:static; }

.form-contact textarea{ height:142px; }



#product-single-slider .product-price{

	font-size: 30px;

    color: #777;

    font-weight: bold;

    margin-right: 20px;

}



.img img{ width:100%; }



#product-detail{

	padding: 30px 0;

}



#product-detail img{ width:100%; }



@media only screen and (min-width: 900px) {

	#product-detail .container{ width:900px; }

}



.product-container{

	background: #ededed;

	padding: 30px 15px;

}



#product-furniture.product-container{

	background:#e4e4e4;

}



#product-exterior .content, #product-furniture .content{

	overflow: auto;

	position: relative;

	height: 300px;

	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

}



.product-container .img{

	border: 2px solid rgba(251, 251, 251, 0.6);

    margin-bottom: 20px;

}



.product-hover-content .car-of-cat {

    border: 1px solid red;

    width: 100%;

    position: absolute;

    top: 97%;

    z-index: 99;

    background: #fff;

    transition: .3s all;

    -webkit-transition: .3s all;

    -o-transition: .3s all;

    -ms-transition: .3s all;

    opacity: 0;

    visibility: hidden;

	text-align: center;

}



.product-hover-content .car-of-cat:before {

    content: "";

    width: 0;

    height: 0;

    border-left: 15px solid transparent;

    border-right: 15px solid transparent;

    border-bottom: 15px solid red;

    position: absolute;

    left: 46%;

    top: -15px;

}

.product-hover-content .car-of-cat .car-item {

    display: flex;

}

.product-hover-content .car-of-cat .car-item .car-name {

    width: 50%;

    padding: 15px;

    border: 1px solid red;

}

.product-hover-content .car-of-cat .car-item .car-price {

    width: 50%;

    text-align: right;

    padding: 15px;

    border: 1px solid red;

}

.product-hover-content:hover .car-of-cat {

    opacity: 1;

    visibility: visible;

}



.product-tax-loop .tt{ text-align:center; }



#form_drive_try input[type="text"], #form_drive_try textarea,  #form_drive_try select {

    width: 100%;

    border: solid 1px #d1d1d1;

    background: #FFFFFF;

    height: 40px;

    padding-left: 10px;

}

#form_drive_try input[type="submit"] {

    font-size: 16px;

    line-height: 24px;

    background: #333333;

    border: none;

    font-weight: bold;

    color: #ffffff;

    text-transform: uppercase;

    padding: 8px 15px;

    -webkit-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



#h-title{

	color: #f00;

    font-size: 22px;

    text-align: center;

}