/*For device: tablet, mobile*/
/*Min -> 320px -> 768px ->992px -> 1024px -> 1200 -> Max*/

#show-menu-main{ color:#fff; font-size:30px; }
#show-menu-main .fa-times{ display:none; }
@media only screen and (max-width: 767px) {
	.product-hover-content .car-of-cat{ position:relative; visibility:visible; opacity:1; margin-top:15px; }
	.menuTop{ 
		display:block !important; 
		position: fixed;
		width: 90%;
		height: 100%;
		z-index: 999999;
		left: -100%;
		bottom: 0;
		transition:all .5s;
		background: #e21428;
	}
	
	.menuTop .menu li{ float:left; width:100%; border-bottom: 2px solid rgba(197, 0, 19, 0.5); }
	
	.js-menu-active .menuTop .menu li a:before{
		content: "\f105";
		font: normal normal normal 14px/1 FontAwesome;
		margin-right:5px;
	}

	.js-menu-active .menuTop{ 
		left:0;
	}

	.menuTop .menu{ display:block; }
	
	.js-menu-active #show-menu-main .fa-times{ display:block; }
	.js-menu-active #show-menu-main .fa-bars{ display:none; }
	.menuTop>ul>li>a {
		padding: 7px 10px;
		font-size: 12px;
	}
	
	#website366-menu-second{ display:block !important; }
	.menuTools{ display:none; }
}


@media only screen and (max-width: 500px) {
	
}

