/*Your addmin css*/
.w366-options-area .postbox .inside h2{
	padding-left:0 !important;
	padding-right:0 !important;
	font-weight:bold;
}
.wdescription{
	max-width: 200px;
	display: block;
	word-wrap: break-word;
}

.w366-options-area .postbox{
	margin-right:20px;
}

.wnote{
	font-size: 10px;
    font-style: italic;
    color: #b95151;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.w366-image-type .images{
	width: 100%;
    float: left;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.w366-item-8 .attachment{
	width:12.5%;
}	

.w366-image-type .removeit{
	position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    background: #e61515;
    color: #fff;
    border: 1px solid;
    font-weight: 300;
}
.w366-no-photo{
    padding: 10px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.has-tabs .section.is_tab{
	display:none;
}
.has-tabs .section.is_tab.active{
	display:block !important;
}

.options-tabs .nav-tab-wrapper{
	padding-bottom:0 !important;
}

.options-tabs .nav-tab-active, .options-tabs .nav-tab-active:focus, .options-tabs .nav-tab-active:focus:active, .options-tabs .nav-tab-active:hover {
    background: #ffffff !important;
	box-shadow: none !important;
}

.w366-textarea{
	width:100%;
}

